.portfolio {
  height: 1391px;
  background: @darkwhite;
  padding-bottom: 2%;

  @media only screen and (min-width: 1490px) and (max-width: 1750px){
    height: 1600px;
  }
  @media only screen and (min-width: 1751px) and (max-width: 2030px){
    height: 1800px;
  }
  @media only screen and (min-width: 2031px) and (max-width: 2200px){
    height: 2000px;
  }
  @media only screen and (min-width: 2201px){
    height: 2250px;
  }
  @media only screen and (min-width: 2653px){
    height: 2350px;
  }

  &__info {
    padding: 88px 0 66px;
    height: 96px;
    .flex-column-between-center;
    text-align: center;
  }

  &__title {
    .section-titles;
  }

  &__text {
    color: @lightgrey;
    font-size: 14px;
  }

  &__group {
    width: 35%;
    margin: 0 auto 5.5%;
    display: flex;
    justify-content: space-between;

    &--button {
      background: transparent;
      color: @grey;
      border: none;
      outline: none;
      position: relative;
      padding: 11px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        color: @green;
      }
    }

    &--active {

      &:after {
        .absolute;
        content: '';
        border-bottom: 1px solid @green;
        width: 38px;
      }
    }
  }

  &__pictures {
    width: 100%;
    margin: 0 auto;

    &--el, .grid-sizer {
      width: 25%;
      margin-bottom: 5px;
    }

    &--el img {
      width: 96%;
      padding: 0 2%;
    }
  }
}
